<div class="row-fluid">
  <div class="span12">
    ACA IRÁ EL NOMBRE DE LA CANCIÓN
    <div class="row-fluid">
      <div class="span8">
        <div class="row-fluid" >
         ACÁ IRÁ EL COMPONENTE PARA GRABAR Y TOCAR CANCIONES
        <%= image_tag 'pianizmplayhub.png', :size => '705x362', :class => 'brand'%>
        </div>
      </div>
      <div class="span4">
        <div class="span12">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Opciones cancion actual</li>
              <li><%= link_to 'Revisar Progreso ', pianizm_index_path %></li>
              <li><%= link_to 'Guardar notas ', pianizm_index_path %></li>
              <li><%= link_to 'Comentar ', pianizm_index_path %></li>
              <li><%= link_to 'Ver autor', pianizm_index_path %></li>
              <li><%= link_to 'Taggear', pianizm_index_path %></li>
              <li class="nav-header">Canciones Similares</li>
              <li><%= link_to 'Canción 1 ', pianizm_index_path %></li>
              <li><%= link_to 'Canción 2 ', pianizm_index_path %></li>
              <li><%= link_to 'Canción 3 ', pianizm_index_path %></li>
              <li><%= link_to 'Canción 4', pianizm_index_path %></li>
              <li><%= link_to 'Canción 4', pianizm_index_path %></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
      </div>
    </div>
  </div>
</div>