      <div class="span12">
        <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <li class="nav-header">Canciones</li>
            <li><%= link_to 'Más buscadas ', pianizm_index_path %></li>
            <li><%= link_to 'Mejor puntuadas ', pianizm_index_path %></li>
            <li><%= link_to 'Más largas ', pianizm_index_path %></li>
            <li><%= link_to 'Por dificultad ', pianizm_index_path %></li>
            <li><%= link_to 'Por Género', pianizm_index_path %></li>
          </ul>
        </div><!--/.well -->
      </div><!--/span-->
